header h1{
	position: relative;
	top: 40px;
	left: 50px;
	display: inline;
}

#headLogin h1{
	position: initial;
}

#loginBody{
	color: white;
	background-color: #2d1c0c;
}

.buttonAPI{
	border: none;
	background-color: #FF9984;
	cursor: pointer;
	padding: 3px 10px;
	text-decoration: none;
	border-radius: 4px;
	font-family: CourgetteRegular;
	font-weight: bold;
}

#botonAtras{
	position: absolute;
	right: 10%;
	top: 60px;
}

#botonAtras, #formExit button{
	border-radius: 10px;
	font-size: 1.5vw;
	padding: 5px 10px;
	color: #2d1c0c;
	background-color: #FF9984;
	font-family: CourgetteRegular;
}

#formExit button{
	float: right;
}

main{
	flex-flow: column;
	color: white;
	margin: 0 5% 0 5%;
}

tr:nth-child(odd){
	background-color: rgb(210,210,210);
}

th{
	background-color: black;
	color: white;
}

td{
	border-right: 1px solid black;
}

tr>td:last-child{
	border-right: none;
}

tr>td:first-child{
	text-align: right;
}

#controlesSuperiores, #divNuevo{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#controlesSuperiores{
	justify-content: space-around;
	padding: 10px;
}

#aNuevo{
	width: 20%;
	box-shadow: 0 0 5px white;
	border-radius: 10px;
	padding: 0 10px;
}

#cambioTemporada, #cambioTemporada>select, #cambioTemporada>input{
	font-size: 1.4vw;
	font-family: CourgetteRegular;
}

.campoMaloFormulario
{
	background-color: #F00;
}

#formCrear{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#formCrear>*{
	padding: 5px;
}