#buscaPlato, #divCompleta{
	box-shadow: 0 0 5px white;
	width: 40%;
	min-width: 400px;
}

#divCompleta{
	margin: 5px;
	padding: 5px;
	text-align: center;
	color: #DEB900;
	cursor: pointer;
}

.listaAdmin{
	width: 100%;
}

td{
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	padding: 1px 5px 1px 5px;
}

.trCarta~.trCarta:hover{
	background-color: #1c0b00;
}

td:first-child, td:nth-child(2){
	border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.icoAlergia{
	width: 32px;
	height: 32px;
	float: left;
}

.icoAlergiaAdmin{
	width: 40px;
	height: 40px;
	float: left;
}

.icoGluten{
	background-image: url("../img/aler_glu.png");
	background-size: 100% 100%;
}

.icoCrustaceo{
	background-image: url("../img/aler_cru.png");
	background-size: 100% 100%;
}

.icoHuevo{
	background-image: url("../img/aler_hue.png");
	background-size: 100% 100%;
}

.icoPescado{
	background-image: url("../img/aler_pes.png");
	background-size: 100% 100%;
}

.icoCacahuete{
	background-image: url("../img/aler_cac.png");
	background-size: 100% 100%;
}

.icoSoja{
	background-image: url("../img/aler_soja.png");
	background-size: 100% 100%;
}

.icoLacteos{
	background-image: url("../img/aler_lac.png");
	background-size: 100% 100%;
}

.icoCascara{
	background-image: url("../img/aler_cas.png");
	background-size: 100% 100%;
}

.icoApio{
	background-image: url("../img/aler_api.png");
	background-size: 100% 100%;
}

.icoMostaza{
	background-image: url("../img/aler_mos.png");
	background-size: 100% 100%;
}

.icoSesamo{
	background-image: url("../img/aler_ses.png");
	background-size: 100% 100%;
}

.icoSulfitos{
	background-image: url("../img/aler_sul.png");
	background-size: 100% 100%;
}

.icoAltramuces{
	background-image: url("../img/aler_alt.png");
	background-size: 100% 100%;
}

.icoMoluscos{
	background-image: url("../img/aler_mol.png");
	background-size: 100% 100%;
}

.icoPrimavera{
	background-image: url("../img/flor.png");
	background-size: 100% 100%;
}

.icoVerano{
	background-image: url("../img/sol.png");
	background-size: 100% 100%;
}

.icoOtono{
	background-image: url("../img/hoja_marchita.png");
	background-size: 100% 100%;
}

.icoInvierno{
	background-image: url("../img/copo_nieve.png");
	background-size: 100% 100%;
}