@font-face{
	font-family: 'CourgetteRegular';
	src: url('../fonts/courgette-regular-webfont.woff2') format('woff2'),
		url('../fonts/courgette-regular-webfont.woff') format('woff'),
		url('../fonts/courgette-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

a{
	color: #FF9984;
}

body{
	background-color: #2d1c0c;
	font-family: CourgetteRegular;
	display: flex;
	flex-direction: column;
}

header{
	color: #FF9984;
}

#pageTitle{
	font-weight: bold;
	font-size: 6.2vw;
	font-style: italic;
	margin-left: 10%;
	padding-top: 2%;
}

header:hover{
	cursor: default;
}

nav{
	color: #FF9984;
	padding-top: 2%;
}

.menuContainer{
	font-weight: bold;
	font-size: 5vw;
	font-style: italic;
	text-align: center;
	padding: 2% 3% 2% 0;
}

.menuText{
	cursor: pointer;
	padding: 1% 3% 1% 2%;
	transition-duration: 0.2s;
	border-radius: 12px;
}

.menuText:hover{
	background-color: #FF9984;
	box-shadow: 0 0 10px white;
	color: white;
}

#contenido{
	color: white;
	padding: 10px;
}

h1{
	font-size: 4.5vw;
}

h2{
	font-size: 3.8vw;
}